@media (max-width: 720px) {
    .hidenavbar{
        display: none;
    }
}

@media (min-width: 1244px) {
    .scrolleffect{
        height:100vh;
        overflow-y: scroll;
    }
}
/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for IE/Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
  