@media (max-width: 1244px) {
    .upperme {
        width: 100%;
        padding: 1rem;
    }
    .contact{
        flex-direction: row;
    }
    .changemargin{
        margin-top: 10px;
    }
    .profiledirection{
        flex-direction: row;
        justify-items: flex-start;
        gap: 2rem;
    }
    .profilebtn{
        display: block;
    }
    .upperme.expanded {
        max-height: 50rem; /* Adjust this value based on your content's height */
    }
    .upperme {
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        max-height: 10rem; /* Initial max-height */
    }
}
@media (max-width: 720px) {
    .contact {
        flex-direction: column;
        gap: 0.5rem;
    }
    .profiledirection{
        gap: 1rem;
    }
    .myphoto{
        width: 6rem;
    }
    .line{
        margin:1rem ;
    }
    .socials{
        margin: 1rem;
    }
    .changetextsize{
        font-size: 1.4rem;
    }
    .upperme {
        max-height: 8rem; /* Initial max-height */
    }
}
@media (max-width: 361px) {
    .upperme{
        max-height: 9rem;
    }
}