@media (max-width: 513px) {
    .secondPoint{
        top: 8.7rem;
    }
    .thirdPoint{
        top:14.7rem
    }
    .verticalLine{
        height: 15.5rem;
    }
}
@media (max-width: 457px) {
    .secondPoint{
        top: 10.2rem;
    }
    .thirdPoint{
        top:17.55rem
    }
    .verticalLine{
        height: 18rem;
    }
}