::selection {
    /* background-color: #06b6d4; */
    background-color: #22d3ee;
    color: black;
}

@media (max-width: 1244px) {
    .App {
        display: block;
    }
}

@media (max-width: 914px) {
    .App {
        padding: 2rem;
    }
}
@media (max-width: 720px) {
    .App {
        padding: 0.5rem;
    }
    .bottomnavbar{
        display: block;
    }
}
.me {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Or a value that fits your design */
  }
  